certifi==2020.6.20
click==7.1.2
cx-Oracle==7.2.3
cycler==0.10.0
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
Pillow==7.2.0
pyparsing==2.4.7
pysendpulse==0.1.1
python-dateutil==2.8.1
python3-memcached==1.51
pytz==2020.1
six==1.15.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1593445585180/work
translate-pdf-word==0.0.2
Werkzeug==1.0.1
wincertstore==0.2
